@model ADL.PersonalizedTravel.Models.TourActivity

@{
    ViewData["Title"] = "TourActivityDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
  <hr />
    <div class="dl-horizontal">
       <div class="activityTitle">
            @Html.DisplayFor(model => model.Title)
        </div>
        
        <div class="activityImage">
            <img src="@Url.Content(Model.Image)" alt="Image" />
        </div>
        
        <div class="activityDesc">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
</div>

