@{
    ViewData["Title"] = "About";
}

<h3>@ViewData["Message"]</h3>

<p>Enthociast is a Group of two developer who has created this Demo application for better use of User personalization service and data marketing in future</p>
