@{
    ViewData["Title"] = "Contact";
}

<h3>@ViewData["Message"]</h3>

<address>
    Enthociast Tour and Travel <br />
    Banglore, India +91-**********<br />
    <abbr title="Phone">P:</abbr>
    91**********
</address>

<address>
    <strong>Enthociast Support:</strong> <a href="mailto:Support@example.com">enthociast@example.com</a><br />
    <strong>Enthociast Marketing:</strong> <a href="mailto:Marketing@example.com">enthociast@example.com</a>
</address>
