
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="" id="tourLink"> <img src="~/images/banner20.svg" alt="ASP.NET" class="img-responsive" /> <div id="featureTourTitle" class="centered">Welcome to Enthusiast Tours & Travels</div> </a>
        </div>

    </div>
</div>

<div class="row recomm"> <p class="outset">Tours based on your interest</p> </div>

<div class="row tourInterest">
    <div id="promotour0" class="column">
        <a href="" id="activityLink0" data-id="">
            <img class="img-ClickTour" src="~/images/img_snow.jpg" alt="Snow" style="width:380px;height:285px">
            <div class="row suggest"></div>
        </a>
    </div>
    <div id="promotour1" class="column">
        <a href="" id="activityLink1" data-id="">
            <img class="img-ClickTour" src="~/images/img_forest.jpg" alt="Forest"  style="width:380px;height:285px">
            <div class="row suggest"></div>
        </a>
    </div>
    <div id="promotour2" class="column">
        <a href="" id="activityLink2" data-id="">
            <img class="img-ClickTour" src="~/images/img_mountains.jpg" alt="Mountains"  style="width:380px;height:285px">
            <div class="row suggest"></div>
        </a>
    </div>
</div>



<div class="row recomm"> <p class="outset">Recommended Tours For you</p> </div>
<div class="row">
    <div class="column">
        <img src="~/images/img_snow.jpg" alt="Snow" style="width:100%">
        <div class="row suggest">Himalayan Treks</div>
    </div>
    <div class="column">
        <img src="~/images/img_forest.jpg" alt="Forest" style="width:100%">
        <div class="row suggest">Wildlife Camping</div>
    </div>
    <div class="column">
        <img src="~/images/img_mountains.jpg" alt="Mountains" style="width:100%">
        <div class="row suggest">Sigthseeing Tours</div>
    </div>
</div>



