@model TourActivity
@*@{
        Layout = "~/Views/Shared/_ArticleLayout.cshtml";
    }*@


<div id="articleViewer" class="row column py-3">
    <div class="card col-12 col-md-10 offset-md-1 p-4">
        <h1 lang="en">@Model.Title</h1>
    </div>
</div>
