/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
p.outset {
    border-style: outset;
    text-align: center;
    background-color: darkcyan;
    color: white;
    font-size: x-large;
}
.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: -webkit-pictograph;
    font-size: xx-large;
    color: black;
    background-color: darkturquoise;
    opacity: initial;
}

.recomm {
    margin-top: 20px
}
.suggest {
    margin: 0px 0px 1px 5px;
}

.dl-horizontal dd {
    text-align: center;
    letter-spacing: 0px;
    font-size: 20px;
    margin-left: 0px !important;
    font-family: auto;
}
.navbar-inverse {
    background-color: darkblue;
    border-color: #080808;
}
.navbar-inverse .navbar-brand {
    color: white;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: auto;
}


